{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'polls:index' %}" class="btn btn-secondary btn-sm mb-3 mt-4">&larr; Back To Polls</a>
    {% if error_message %}
        <div class="alert alert-danger">
            <p>
                <strong>{{ error_message }}</strong>
            </p>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <h1>{{ question.question_text }}</h1>

            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                    </div>
                {% endfor %}
                <input type="submit" value="Vote" class="btn btn-success mt-4 btn-lg btn-block">
            </form>
        </div>
    </div>
{% endblock %}